body {
    font-family: "Calibri Light", serif;
    font-size: 1em;

    background-image: url("../img/backgroundIMG.jpg");
    background-repeat: no-repeat;
    height: 98vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

button > span, button > img {
    vertical-align: middle;
}

.navigation {
    background-color: white;
}

.button {
    display: inline-block;
    background-color: white;
    border: solid white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    border-color: lightblue;
}

.button:active {
    background-color: #9dff85;
}

.wrapper {
    height: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.element {
    display: flow;
    background-color: white;
    border: solid white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-break: anywhere;
}

.input, .headInput {
    width: 98%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input:focus, .headInput:focus {
    border: 1px solid #555;
}

.headInput {
    height: 1.5em;
}

.kanbanHeader {
    font-size: 1.2em;
    padding: 10px;
    font-weight: bold;
    height: 2em;
}

.kanban {
    margin: 10px;
    width: 200px;
    height: 100%;
    vertical-align: top;
    flex: 1;
    background-color: black;
}

.board {
    background-color: white;
}

.wrapper, .element, .kanban, .input, .navigation {
    border-radius: 5px;
}

#plusImage {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

#content {
    display: flex;
}

#content {
    height: 100%;
}

#open {
    background-color: #9dff85;
}

#working {
    background-color: #fffb85;
}

#closed {
    background-color: #ff8585;
}